@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.background{
    background-color: rgba(255, 144, 14, 0.1);
}
.display-flex{
    display: flex;
}
.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}
.dark-3{
    color: #727272;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.text-primary{
    color: #FF900E;
}

.btn-primary{
    background-color: #FF900E;
    padding: 20px 25px; 
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;


}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;

}
/* header style */

/* navbar style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 477px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: bold;
    font-size: 2.8rem;
}


/* banner  style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-title{
    font-weight: bold;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* team and feature related style*/
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.quick-list{
    font-weight: 500;
}
/*fact card style  */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-description{
    max-width: 540px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.sponsor-title{
    font-weight: bold;
    font-size: 2.81rem;
}
.sponsor-text{
    font-size: 1rem;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* feature section related style */
.features{
    gap: 140px;
}
.feature-border{
    border-left: 5px solid #FF900E; 
    padding-left: 20px;
}
.feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -110px;
    border-radius: 8px;
    
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
    
}
.feature-architect{
    max-width: 100%;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-link, .team, .features{
        flex-direction: column;
    }

    .team-img-container, .facts-container, .sponsor-companies {
        grid-template-columns: 1fr; /* Single column layout */
        justify-items: center; /* Centers images horizontally in the grid */
        gap: 10px; /* Space between images */
        margin: 0px 10px;
    }

    .team-img-container img {
        width: 100%; /* Images will take up the full width of the container */
        max-width: 500px; /* Optional: Set a maximum width for the images */
        height: auto; /* Maintain aspect ratio */
    }

    .our-features {
        margin-left: 0;
        text-align: center;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }

}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team, .features{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .team-img-container{
        margin: 0 auto;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        justify-items: center;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}